<div class="modal-header">
  <h4 class="modal-title">Hi there!</h4>
  <button type="button" class="close" aria-label="Close" (click)="closeModal('close')">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body">

  <mat-form-field class="example-full-width" appearance="fill">
    <mat-label>Company Code</mat-label>
    <input matInput [(ngModel)]="companyData.companyCode" required>
  </mat-form-field>
  <mat-form-field class="example-full-width" appearance="fill">
    <mat-label>Company Name</mat-label>
    <input matInput [(ngModel)]="companyData.companyName" required>
  </mat-form-field>
  <br />
  <mat-form-field class="example-full-width" appearance="fill">
    <mat-label>Company CEO</mat-label>
    <input matInput [(ngModel)]="companyData.companyCeo" required>
  </mat-form-field>
  <mat-form-field class="example-full-width" appearance="fill">
    <mat-label>Company Turnover (Rs.)</mat-label>
    <input matInput [(ngModel)]="companyData.companyTurnover" required>
    <mat-hint>Minimum Turnover is 10Cr</mat-hint>
  </mat-form-field>
  <br />
  <mat-form-field class="example-full-width" appearance="fill">
    <mat-label>Company Website</mat-label>
    <input matInput [(ngModel)]="companyData.companyWebsite" required>
  </mat-form-field>
  <mat-form-field class="example-full-width" appearance="fill">
    <mat-label>Stock Exchange</mat-label>
    <mat-select matNativeControl [(ngModel)]="companyData.stockExchange" required>
      <mat-option *ngFor="let exchange of stockExchanges" [value]="exchange">{{exchange}}</mat-option>
    </mat-select>
  </mat-form-field>
  <br />

</div>
<div class="modal-footer">
  <button mat-raised-button class="inverted-button" (click)="closeModal('close')">Cancel</button>
  <button mat-raised-button class="add-button" (click)="addCompany()">Add Company</button>
</div>