.logo {
    width: 100px;
    height: 30px;
    background-color: red;
    margin-right: 20px;
}

button {
    margin: 0 10px;
}

div {
    float: left;
}

.container {
    margin: 10px;
}

.companyTable {
    width: 95%;
    padding: 30px;
    margin: 20px 10px;
}

button {
    background-color: #3949ab;
    color: white;
}

.inverted-button {
    background-color: whitesmoke;
    color: #3949ab;
    border: 1px solid #3949ab;
}

mat-list {
    width: 70%;
    padding: 10px;
    border: 1px solid lightgrey;
    border-radius: 2px;
}

.list-align-center {
    margin: 20px 50%;
}

.list-div-col1 {
    float: left; 
    width: 50%; 
    text-align: left;
}

.list-div-col2 {
    float: left; 
    width: 50%; 
    text-align: left;
}