<div class="row">
  <div class="col-md-2 logo">
    Logo
  </div>
  <div class="col-md-10">
    <button mat-raised-button color="primary">Add Company</button>
    <button mat-raised-button color="primary">List All Company</button>
    <mat-form-field class="example-form-field" appearance="fill">
      <mat-label>Company Code</mat-label>
      <input matInput type="text" [(ngModel)]="searchCompanyCode">
      <button *ngIf="searchCompanyCode" matSuffix mat-icon-button aria-label="Clear" 
        (click)="searchCompanyCode=''">
        <mat-icon>close</mat-icon>
      </button>
    </mat-form-field>
  </div>
</div>