.logo {
    width: 100px;
    height: 30px;
    background-color: red;
    margin-right: 20px;
}

button {
    margin: 0 10px;
}

div {
    float: left;
}

.container {
    margin: 10px;
}

.companyTable {
    width: 95%;
    padding: 30px;
    margin: 20px 10px;
}

button {
    background-color: #3949ab;
    color: white;
}