<div class="container">
  <div class="row">
    <div style="float: left;">
      <img src="../assets/logo.png" />
    </div>
    <div style="float: left;">
      <button mat-raised-button>Add Company</button>
      <button mat-raised-button (click)="getAllCompany()">List All Company</button>
    </div>
    <div style="float: right; position: absolute; right: 20px;">
      <mat-form-field class="example-form-field" appearance="fill">
        <mat-label>Company Code</mat-label>
        <input matInput type="text" [(ngModel)]="companyCodeFilter">
        <button *ngIf="companyCodeFilter" matSuffix mat-icon-button aria-label="Search"
          (click)="getCompanyByCompanyCode(companyCodeFilter)">
          <mat-icon>search</mat-icon>
        </button>
      </mat-form-field>
    </div>
  </div>
</div>

<br /><br /><br />

<div class="mat-elevation-z8 companyTable" *ngIf="allCompanyFlag == true">
  <mat-table [dataSource]="dataSource">
    <div *ngFor="let column of companyColumns;">
      <ng-container [matColumnDef]="column">
        <mat-header-cell *matHeaderCellDef> {{column}} </mat-header-cell>
        <div *ngIf="column == 'No.'">
          <mat-cell *matCellDef="let element; let i = index"> {{ (companyPageIndex * companyPageSize) + i + 1}}
          </mat-cell>
        </div>
        <div *ngIf="column == 'Name'">
          <mat-cell *matCellDef="let element"> {{element.companyName}} </mat-cell>
        </div>
        <div *ngIf="column == 'Code'">
          <mat-cell *matCellDef="let element"> {{element.companyCode}} </mat-cell>
        </div>
        <div *ngIf="column == 'Latest Stock Price'">
          <mat-cell *matCellDef="let element"> {{element.latestStockPrice}} </mat-cell>
        </div>
        <div *ngIf="column == 'Stock Exchange'">
          <mat-cell *matCellDef="let element"> {{element.stockExchange}} </mat-cell>
        </div>
        <div *ngIf="column == 'Website'">
          <mat-cell *matCellDef="let element"> {{element.companyWebsite}} </mat-cell>
        </div>
      </ng-container>
    </div>
    <mat-header-row *matHeaderRowDef="companyColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: companyColumns;"></mat-row>
  </mat-table>
  <mat-paginator #paginator1 [pageSizeOptions]="[5, 10, 25, 100]" (page)="companyPageChangeEvent($event)">
  </mat-paginator>
</div>

<div *ngIf="companySearchFlag == true" style="width: 100%">

  <div style="width: 60%; align-content: center;">
    <mat-list role="list" class="list-align-center">
      <mat-list-item role="listitem">
        <div class="list-div-col1">Company Code</div>
        <div class="list-div-col2">{{companyData.companyCode}}</div>
      </mat-list-item>
      <mat-divider></mat-divider>
      <mat-list-item role="listitem">
        <div class="list-div-col1">Company Name</div>
        <div class="list-div-col2">{{companyData.companyName}}</div>
      </mat-list-item>
      <mat-divider *ngIf="stockFlag"></mat-divider>
      <mat-list-item role="listitem" *ngIf="stockFlag">
        <div class="list-div-col1">Minimum</div>
        <div class="list-div-col2">{{companyData.minStockPrice | currency: 'INR': 'symbol': '1.2-2'}}</div>
      </mat-list-item>
      <mat-divider *ngIf="stockFlag"></mat-divider>
      <mat-list-item role="listitem" *ngIf="stockFlag">
        <div class="list-div-col1">Maximum</div>
        <div class="list-div-col2">{{companyData.maxStockPrice | currency: 'INR': 'symbol': '1.2-2'}}</div>
      </mat-list-item>
      <mat-divider *ngIf="stockFlag"></mat-divider>
      <mat-list-item role="listitem" *ngIf="stockFlag">
        <div class="list-div-col1">Average</div>
        <div class="list-div-col2">{{companyData.avgStockPrice | currency: 'INR': 'symbol': '1.2-2'}}</div>
      </mat-list-item>
    </mat-list>
  </div>
  <br /> <br /> <br />
  <div style="width: 60%; margin: 0 20%;">
    <table>
      <tr>
        <td>From</td>
        <td>
          <mat-form-field appearance="fill">
            <input matInput [matDatepicker]="fromDate" placeholder="dd/MM/yyyy" [(ngModel)]="fromDateValue"
              [max]="maxDate" (dateChange)="setMinDate()">
            <mat-datepicker-toggle matSuffix [for]="fromDate"></mat-datepicker-toggle>
            <mat-datepicker #fromDate></mat-datepicker>
          </mat-form-field>
        </td>
        <td>To</td>
        <td>
          <mat-form-field appearance="fill">
            <input matInput [matDatepicker]="toDate" placeholder="dd/MM/yyyy" [(ngModel)]="toDateValue" [min]="minDate"
              (dateChange)="setMaxDate()">
            <mat-datepicker-toggle matSuffix [for]="toDate"></mat-datepicker-toggle>
            <mat-datepicker #toDate></mat-datepicker>
          </mat-form-field>
        </td>
        <td><button mat-raised-button class="inverted-button" (click)="resetDates()">Clear</button></td>
        <td><button mat-raised-button (click)="filterStocks()">Search</button></td>
      </tr>
    </table>
  </div>
  <br /> <br /> <br />
  <div *ngIf="stockFlag" style="width: 95%; padding: 10px; margin-left: 20px;" class="mat-elevation-z8">
    <mat-table [dataSource]="stockDataSource">
      <div *ngFor="let column of stockColumns;">
        <ng-container [matColumnDef]="column">
          <mat-header-cell *matHeaderCellDef> {{column}} </mat-header-cell>
          <div *ngIf="column == 'No.'">
            <mat-cell *matCellDef="let element; let i = index"> {{ (stockPageIndex * stockPageSize) + i + 1}}
            </mat-cell>
          </div>
          <div *ngIf="column == 'Stock Price'">
            <mat-cell *matCellDef="let element"> {{element.price | currency: 'INR':'symbol'}} </mat-cell>
          </div>
          <div *ngIf="column == 'Date'">
            <mat-cell *matCellDef="let element"> {{element.date | date}} </mat-cell>
          </div>
          <div *ngIf="column == 'Timestamp'">
            <mat-cell *matCellDef="let element"> {{element.timeStamp | date: 'h:mm:ss a z'}} </mat-cell>
          </div>
        </ng-container>
      </div>
      <mat-header-row *matHeaderRowDef="stockColumns"></mat-header-row>
      <mat-row *matRowDef="let row; columns: stockColumns;"></mat-row>
    </mat-table>
    <mat-paginator #paginator2 [pageSizeOptions]="[5, 10, 25, 100]" (page)="stockPageChangeEvent($event)">
    </mat-paginator>
  </div>
  <br /> <br /> <br />
</div>